<div>
  <nav class="navbar main-nav bg-primary">
    <a (click)="drawer.toggle()" class="btn text-white">
      <fa-icon [icon]="icons.faBars" size="lg"></fa-icon>
    </a>
    <a id="brand-title" [routerLink]="['/']" class="text-light navbar-brand">
      TRAVIS BICKLE
    </a>
    <div ngbDropdown class="d-inline-block">
      <button class="nav-buttons btn btn-warning shadow-none" ngbDropdownToggle>
        auth &nbsp;&nbsp;&nbsp;<fa-icon [icon]="icons.faSignInAlt"></fa-icon>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdown1">
        <button ngbDropdownItem [routerLink]="['/auth', 'login']">
          log-in
        </button>
        <button ngbDropdownItem [routerLink]="['/auth', 'signup']">
          sign-up
        </button>
        <button ngbDropdownItem (click)="logout()">log-out</button>
      </div>
    </div>
    <!-- <button
      class="nav-buttons btn btn-warning shadow-none"
      [routerLink]="['/auth', 'signup']"
    >
      sign-up
      <fa-icon [icon]="icons.faSignInAlt" [rotate]="90"></fa-icon>
    </button> -->
  </nav>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport
      [fixedTopGap]="54"
      [mode]="'over'"
      [opened]="false"
    >
      <mat-nav-list>
        <a mat-list-item>You</a>
        <a mat-list-item>can add</a>
        <a mat-list-item>as many as</a>
        <a mat-list-item>links</a>
        <a mat-list-item>here</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="container">
        <router-outlet> </router-outlet>
      </div>
      <div style="height: 300px"></div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
